<f:form.hidden id="tx-datec-blog-comment-post" property="post" value="{post.uid}" />
<f:form.hidden id="tx-datec-blog-comment-parent" property="parent" value="0" />
<input type="hidden" name="type" value="1660" />
<input type="hidden" name="tx_datecblog_blog[commentCreator][feUser]" value="{feUserId}" />
<input type="hidden" id="tx-datec-blog-duplicant1" name="tx_datecblog_blog[duplicant1]" value="{duplicant1}" />
<input type="hidden" id="tx-datec-blog-duplicant2" name="tx_datecblog_blog[duplicant2]" value="" />
<div id="tx-datec-blog-comment-info" class="tx-datec-blog-comment-info"></div>
<f:if condition="{comment.commentCreator}">
	<f:then>
		<f:if condition="{comment.commentCreator.blocked}">
			<f:then>
				<div><f:translate key="tx_datecblog.messages.blogController.commentCreator.blocked_true" /></div>
			</f:then>
			<f:else>	
				<div class="{settings.cssClasses.formFieldWrap}">
					<label class="{settings.cssClasses.formLabel}"><f:translate key="tx_datecblog_domain_model_comment.text" />&nbsp;<span class="required">*</span></label>
					<f:form.textarea id="tx-datec-blog-comment-text" property="text" cols="50" rows="5" class="{settings.cssClasses.formField}" value="{comment.word}" placeholder="{f:translate(key:'tx_datecblog.placeholders.comment.text')}" />
				</div><br />				
				<f:if condition="{post.commentsFileupload}">				
					<div class="{settings.cssClasses.formFieldWrap}">
						<label class="{settings.cssClasses.formLabel}"><f:translate key="tx_datecblog_domain_model_comment.files" /></label>
						<input id="tx-datec-blog-comment-files" type="file" name="tx_datecblog_blog[files][]" multiple="multiple" />
						<small>(<f:translate key="tx_datecblog.labels.fileType" />:&nbsp;{settings.allowedFileTypes})</small>
						<small>(<f:translate key="tx_datecblog.labels.fileSize" />:&nbsp;{allowedFileSizeDisplay})</small>
					</div><br />
				</f:if>
				<br />
				<div class="{settings.cssClasses.formFieldWrap}">
					<label class="{settings.cssClasses.formLabel}"><f:translate key="tx_datecblog_domain_model_commentcreator.email" />&nbsp;<span class="required">*</span></label>
					<input id="tx-datec-blog-comment-creator-email" type="text" name="tx_datecblog_blog[commentCreator][email]" class="{settings.cssClasses.formField}" value="{comment.commentCreator.email}" placeholder="{f:translate(key:'tx_datecblog.placeholders.commentCreator.email')}" />
				</div>
				<div class="{settings.cssClasses.formFieldWrap}">
					<label class="{settings.cssClasses.formLabel}"><f:translate key="tx_datecblog_domain_model_commentcreator.username" />&nbsp;<span class="required">*</span></label>
					<input id="tx-datec-blog-comment-creator-username" type="text" name="tx_datecblog_blog[commentCreator][username]" class="{settings.cssClasses.formField}" value="{comment.commentCreator.username}" placeholder="{f:translate(key:'tx_datecblog.placeholders.commentCreator.username')}" />
				</div>
				<div class="{settings.cssClasses.formFieldWrap}">
					<label class="{settings.cssClasses.formLabel}">&nbsp;</label>
					<button type="button" value="{f:translate(key:'tx_datecblog.actions.blogController.createComment')}" class="{settings.cssClasses.formButton}" onclick="DatecBlog.createComment()"><f:translate key="tx_datecblog.actions.blogController.createComment" /></button>
				</div>		
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<div class="{settings.cssClasses.formFieldWrap}">
			<label class="{settings.cssClasses.formLabel}"><f:translate key="tx_datecblog_domain_model_comment.text" />&nbsp;<span class="required">*</span></label>
			<f:form.textarea id="tx-datec-blog-comment-text" property="text" cols="50" rows="5" class="{settings.cssClasses.formField}" value="{comment.word}" placeholder="{f:translate(key:'tx_datecblog.placeholders.comment.text')}" />
		</div><br /><br />
		<div class="{settings.cssClasses.formFieldWrap}">
			<button type="button" value="{f:translate(key:'tx_datecblog.actions.blogController.createComment')}" class="{settings.cssClasses.formButton}" onclick="DatecBlog.createComment()"><f:translate key="tx_datecblog.actions.blogController.createComment" /></button>
		</div>
	</f:else>
</f:if>
