<div>
	<form action="{f:uri.action(controller:'BlogmanagementModule', action:'listComments')}" method="post">
		<input id="tx-datec-blog-lang" type="hidden" name="tx_datecblog_blog[lang]" value="{lang}" />
		<label><f:translate key="tx_datecblog.be.label.chooseDate" /></label>
		<f:form.textfield name="tx_datecblog_web_datecblogdatecblogm1[crdate]" id="tceforms-datetimefield-start" value="{date}"/><f:format.raw>{icon}</f:format.raw>
		<div>
			<f:form.submit value="{f:translate(key:'tx_datecblog.actions.blogController.listPosts')}" />
		</div>
	</form>
</div>
<f:if condition="{commentResult}">
<f:then>
<table>
	<thead>
		<tr>
			<td>
			<f:translate key="tx_datecblog.be.label.commentId" />
			</td>
			<td>
				<f:translate key="tx_datecblog.be.label.comment.date" />
			</td>
			<td>
				<f:translate key="tx_datecblog_domain_model_commentcreator.username" />
			</td>
			<td>
				<f:translate key="tx_datecblog_domain_model_commentcreator.email" />
			</td>
			<td>
				<f:translate key="tx_datecblog.be.label.commentText" />
			</td>
			<td>
				<f:translate key="tx_datecblog.be.label.delete" />
			</td>
			<td>
				<f:translate key="tx_datecblog.be.label.block" />
			</td>
		</tr>
	</thead>
	<tbody>
		<f:for each="{commentResult}" as="comment">
			<tr>
				<td>
					{comment.entry.uid}
				</td>
				<td>
					<f:format.date format="d.m.Y">{comment.entry.crdate}</f:format.date>
				</td>
				<td>
					{comment.entry.commentCreator.username}
				</td>
				<td>
					{comment.entry.commentCreator.email}
				</td>
				<td>
					<f:format.html parseFuncTSPath="">{comment.entry.text}</f:format.html>
				</td>
				<td>
					<center>
						<f:if condition="{comment.isChild} == 1">
							<f:then>
								<a href='javascript:ask("<f:uri.action action="deleteCommentary" arguments="{id:comment.entry.uid, crdate:date}" noCacheHash="true" />",DatecTranslate.getLanguageString("deleteCommentTree"))'>
									<img src="sysext/t3skin/icons/gfx/garbage.gif" alt="{f:translate(key='tx_datecblog.be.label.delete')}" />
								</a>
							</f:then>
							<f:else>
								<a href='javascript:ask("<f:uri.action action="deleteCommentary" arguments="{id:comment.entry.uid, crdate:date}" noCacheHash="true" />",DatecTranslate.getLanguageString("deleteComment"))'>
									<img src="sysext/t3skin/icons/gfx/garbage.gif" alt="{f:translate(key='tx_datecblog.be.label.delete')}" />
								</a>
							</f:else>
						</f:if>
					</center>
				</td>
				<td>
					<f:if condition="{comment.entry.commentCreator}">
						<f:if condition="{comment.entry.commentCreator.blocked} == 0">
							<f:then>
								<center>
									<a href='javascript:ask("<f:uri.action action="blockCommentary" arguments="{id:comment.entry.uid, crdate:date}" noCacheHash="true" />",DatecTranslate.getLanguageString("blockCommentCreator"))')'>
										<img src="sysext/t3skin/icons/gfx/i/be_users_admin.gif" alt="{f:translate(key:'tx_datecblog.be.label.block')}" title="{f:translate(key:'tx_datecblog.be.label.block')}"/>
									</a>
								</center>
							</f:then>
							<f:else>
								<center>
									<a href='javascript:ask("<f:uri.action action="blockCommentary" arguments="{id:comment.entry.uid, crdate:date}" noCacheHash="true" />", DatecTranslate.getLanguageString("unBlockCommentCreator"))'>
										<img src="sysext/t3skin/icons/gfx/i/be_users_admin__h.gif" alt="{f:translate(key:'tx_datecblog.be.label.free')}" title="{f:translate(key:'tx_datecblog.be.label.free')}" />
									</a>
								</center>
							</f:else>
						</f:if>
					</f:if>
				</td>
			</tr>
		</f:for>
	</tbody>
</table>
	</f:then>
	<f:else>
		<f:translate key="tx_datecblog.be.label.noComments" />
	</f:else>
</f:if>