{namespace dv=Datec\DatecBlog\ViewHelpers}
<f:if condition="{posts}">
	<f:then>
		<f:for each="{posts}" as="post">
			<div class="tx-datec-blog-post">
				<div class="tx-datec-blog-post-header" onclick="DatecBeBlog.showSinglePost({post.uid}, 0)">					
					<h2>{post.header}</h2>
				</div>
				<f:if condition="{post.firstImageInTeaser}">
					<f:if condition="{post.images}">
		            	<div class="tx-datec-blog-post-teaserImage">
		            		<a rel="lightbox[{post.images.0.uid}]" class="lightbox" href="{f:uri.image(src:'{post.images.0.uid}', treatIdAsReference:'1')}">
		            			<f:image src="{post.images.0.uid}" title="{post.images.0.title}" width="250" height="250" alt="{post.images.0.alternative}" treatIdAsReference="1" />
		            		</a>
		                </div>
		            </f:if>					
				</f:if>
				<div class="tx-datec-blog-post-teaserText">
					<f:if condition="{post.teaserText}">
						<f:then>
							<f:format.html>{post.teaserText}</f:format.html>
						</f:then>
						<f:else>
							<dv:format.shortenStr length="{settings.display.posts.teaserTextLength}">{post.text}</dv:format.shortenStr>
						</f:else>
					</f:if>
				</div>
				<div class="tx-datec-blog-post-meta">					
					<div class="tx-datec-blog-post-date">
						<f:if condition="{post.starttime}">
							<f:then>
								<f:format.date format="{settings.display.posts.dateFormat}">@{post.starttime}</f:format.date>
							</f:then>
							<f:else>
								<f:format.date format="{settings.display.posts.dateFormat}">@{post.crdate}</f:format.date>
							</f:else>
						</f:if>					
					</div>
					<div class="tx-datec-blog-post-category"><span data-filter-type="category" data-filter-value="{post.category.uid}" onclick="DatecBeBlog.addToFilter(this)">[{post.category.name}]</span></div>
					<f:if condition="{post.keywords}">
						<div class="tx-datec-blog-post-keywords">
							<f:translate key="tx_datecblog_domain_model_post.keywords" />:
							<f:for each="{post.keywords}" as="keyword">
								<span data-filter-type="keyword" data-filter-value="{keyword.uid}" onclick="DatecBeBlog.addToFilter(this)">[{keyword.word}]</span>
							</f:for>
						</div>
					</f:if>
				</div>
				<f:if condition="{latestComments}">
					<f:for each="{latestComments}" as="latestComment">
						<f:if condition="{latestComment.postId} == {post.uid}">
							<div class="tx-datec-blog-post-commentInfo" onclick="DatecBeBlog.showSinglePost({post.uid}, 1)">
								<div class="tx-datec-blog-post-commentCount">{latestComment.count}&nbsp;<f:translate key="tx_datecblog_domain_model_comment_plural" /></div>
								<div class="tx-datec-blog-post-latestComment">
									<f:translate key="tx_datecblog.labels.latestCommentBy" />
									<f:render partial="Blog/CommentCreator4Comment" arguments="{comment:latestComment.comment, settings:settings, showReplyButton:'false'}" />
								</div>				
							</div>
						</f:if>
					</f:for>
				</f:if>
			</div>
		</f:for>
	</f:then>
	<f:else>
		<div class="info">
			<f:flashMessages renderMode="div" />
		</div>
	</f:else>
</f:if>