<f:render partial="BlogmanagementModule/PostSingle" arguments="{settings:settings, post:post}"/>
<f:if condition="{post.commentsDisable}">
	<f:then>
		<div class="typo3-messages">
			<div class="typo3-message message-warning">
				<f:translate key="tx_datecblog.messages.blogController.commentsDisable_true" />
			</div>		
		</div>
	</f:then>
	<f:else>
		<div class="tx-datec-blog-status">
			<img id="tx-datec-blog-ajax-loader-comments" src="{f:uri.resource(path:'Images/ajax-loader.gif')}" style="display:none;" width="16" height="16" />
		</div>
		<div id="tx-datec-blog-comments" class="tx-datec-blog-comments"></div>
	</f:else>
</f:if>