<div class="tx-datec-blog-comment-creator">
	<f:if condition="{comment.commentCreator}">
		<f:then>
			<f:if condition="{comment.commentCreator.feUser}">
				<f:then>
					<f:if condition="{settings.display.feUser.nameFormat} == 'firstname'">
						<f:then>
							{comment.commentCreator.feUser.firstName}
						</f:then>
						<f:else>
							<f:if condition="{settings.display.feUser.nameFormat} == 'lastname'">
								<f:then>
									{comment.commentCreator.feUser.lastName}
								</f:then>
								<f:else>
									<f:if condition="{settings.display.feUser.nameFormat} == 'firstname_lastname'">
										<f:then>
											{comment.commentCreator.feUser.firstName}&nbsp;{comment.commentCreator.feUser.lastName}
										</f:then>
										<f:else>
											{comment.commentCreator.feUser.username}
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
					&nbsp;&dash;&nbsp;<f:format.date format="{settings.display.comments.dateFormat}">@{comment.crdate}</f:format.date>
					<f:if condition="{showReplyButton}">
						&nbsp;<button type="button" value="{f:translate(key:'tx_datecblog.labels.replyToComment')}" class="{settings.cssClasses.formButton}" onclick="DatecBlog.replyToComment({comment.uid},'{comment.commentCreator.feUser.username}');"><f:translate key="tx_datecblog.labels.replyToComment" /></button>
					</f:if>
				</f:then>
				<f:else>
					{comment.commentCreator.username}
					&nbsp;&dash;&nbsp;<f:format.date format="{settings.display.comments.dateFormat}">@{comment.crdate}</f:format.date>
					<f:if condition="{showReplyButton}">
						&nbsp;<button type="button" value="{f:translate(key:'tx_datecblog.labels.replyToComment')}" class="{settings.cssClasses.formButton}" onclick="DatecBlog.replyToComment({comment.uid},'{comment.commentCreator.username}');"><f:translate key="tx_datecblog.labels.replyToComment" /></button>
					</f:if>
				</f:else>
			</f:if>
		</f:then>
		<f:else>								
			{comment.cruserId.username}
			&nbsp;&dash;&nbsp;<f:format.date format="{settings.display.comments.dateFormat}">@{comment.crdate}</f:format.date>
			<f:if condition="{showReplyButton}">	
				&nbsp;<button type="button" value="{f:translate(key:'tx_datecblog.labels.replyToComment')}" class="{settings.cssClasses.formButton}" onclick="DatecBlog.replyToComment({comment.uid},'{comment.cruserId.username}');"><f:translate key="tx_datecblog.labels.replyToComment" /></button>
			</f:if>
		</f:else>
	</f:if>
</div>