<f:if condition="{comments}">
	<f:then>
		<div class="tx-datec-blog-tree">			
			<f:render section="commentsList" arguments="{comments:comments, settings:settings}" />
		</div>

		<f:section name="commentsList">
			<ul class="tx-datec-blog-tree-items {settings.cssClasses.listGroup}" data-tree-type="comment" data-tree-level="{treeLevel}" style="{displayTreeLevel}">
				<f:for each="{comments}" as="commentTreeItem" iteration="iterator">
					<li class="tx-datec-blog-tree-item {settings.cssClasses.listItem}">
						<f:alias map="{comment:commentTreeItem.comment}">							
							<div id="tx-datec-blog-comment-{comment.uid}" class="tx-datec-blog-comment">
								<f:render partial="Blog/CommentCreator4Comment" arguments="{comment:comment, settings:settings, showReplyButton:'true'}" />
								<div class="tx-datec-blog-comment-text">
									<f:format.html>{comment.text}</f:format.html>
								</div>
								<f:if condition="{comment.files -> f:count()} > 0">
									<div class="tx-datec-blog-comment-files">
										<label><f:translate key="tx_datecblog_domain_model_comment.files" />:</label>
										<f:for each="{comment.files}" as="file">
											<div class="tx-datec-blog-comment-file">
												<a href="{f:uri.image(src:'uploads/tx_datecblog/{file}', treatIdAsReference:1)}" target="_blank" download>{file}</a>
											</div>
										</f:for>
									</div>
								</f:if>
							</div>
						</f:alias>
						<f:if condition="{commentTreeItem.children}">
							<div class="tx-datec-blog-comments-replySwitcher"><f:translate key="tx_datecblog.labels.showReplies" /><span class="tx-datec-blog-tree-switcher caret" data-tree-type="comment" data-tree-level="{iterator.cycle}-{commentTreeItem.comment.uid}" onclick="DatecBlog.switchTreeLevel(this);"></span></div>
							<f:render section="commentsList" arguments="{comments:commentTreeItem.children, settings:settings, treeLevel:'{iterator.cycle}-{commentTreeItem.comment.uid}', displayTreeLevel:'display:none;'}" />							
						</f:if>
					</li>
				</f:for>
			</ul>
		</f:section>
	</f:then>
	<f:else>
		<div class="info">
			<f:flashMessages renderMode="div" />
		</div>
	</f:else>
</f:if>