<f:if condition="{categoryTree}">
	<f:then>
		<div class="tx-datec-blog-tree">
			<f:render section="categoriesList" arguments="{categoryTree:categoryTree, settings:settings}" />
		</div>

		<f:section name="categoriesList">			
			<ul class="tx-datec-blog-tree-items {settings.cssClasses.listGroup}">
				<f:for each="{categoryTree}" as="categoryTreeItem">
					<f:render section="categoriesListItem" arguments="{categoryTreeItem:categoryTreeItem, settings:settings}" />
				</f:for>
			</ul>
		</f:section>
		
		<f:section name="categoriesListItem">
			<li class="tx-datec-blog-tree-item {settings.cssClasses.listItem}">
				<span data-filter-type="category" data-filter-value="{categoryTreeItem.category.uid}" onclick="DatecBlog.addToFilter(this)">{categoryTreeItem.category.name}</span>
				<f:if condition="{categoryTreeItem.children}">
					<f:render section="categoriesList" arguments="{categoryTree:categoryTreeItem.children, settings:settings}" />							
				</f:if>
			</li>		
		</f:section>
	</f:then>
	<f:else>
		<div class="info">
			<f:flashMessages renderMode="div" />
		</div>
	</f:else>
</f:if>